# General
.DS_Store
Thumbs.db
*.swp
.idea/
.vscode/
PROJECT_JOURNEY.md

# Android
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.cxx/
build/
captures/
.externalNativeBuild/
android/app/build/
android/.gradle/
android/local.properties

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
.env
.parcel-cache/
